
@import "partials/header";

*{
    box-sizing: border-box;
     
}
html,body{
    margin: 0 auto;
    padding: 0;
    width: 80%;
    text-align: center;
    
}
.container
{
    width: 100%;
    background-color: rgba(27, 26, 26, 0.9);
    padding: 60px;
    

header{

    .header-content
    {
    background-color: $background-color-header;
    color: $color-header;
    font-family: $font-family-header;
    text-align: center;
    width: 100%;
    height: 250px;
    padding: 50px;
    font-size: xx-large;
    position: relative;
    }
    h1::first-letter{
        color: greenyellow;
    }
    #logo{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        padding: 5px;
    }    
}

#list-content{
    overflow: hidden;
    list-style-type: none;
    background-color: rgba(179, 240, 88,0.4);
    padding: 30px;
    .navlink{
    float: left;
    margin-right: 10px;
    float: right;
    color: rgb(223, 215, 230);
    font-weight: bold;
    
    }
}
section{
    height: 350px;

.column{
    width: 33.33%;
    float: left;
    padding: 10px;
    height: 300px;
   

 img{
    width:100%;
    height: 300px;
    border-radius: 10px;
    
        }
    }
}
footer{
    width: 100%;
   height: 100px;
    display: block;
    padding: 20px;
    top: 100px;
    background-color: rgb(166, 204, 127);
    }
}
